.main {
    min-width: 100%;
    min-height: 100%;
    background-image: url("../assets/dark/bg_init.jpg");
    background-size:cover;
}

header#main-header {
    background: transparent;
    height: 80px;
}

header#main-header .header-content {
    /* width: 100%; */
    margin: 0 auto;
    height: 80px;
    padding: 0;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.btn {
    margin-right: 15px;
    padding: 0;
}